* {
    padding: 0;
    margin: 0;
}
.d_flex {
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
}
header {
    background: #181818;
}
.wrapper {
    max-width: 1200px;
    padding: 24px 0;
}
header .wrapper ul {
    list-style: none;
}
header .wrapper ul li a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 32px;
    display: inline-block;
    transition: 0.5s;
}
header .wrapper ul li a:hover {
    transform: scale(1.3);
}
header .wrapper ul li:last-of-type a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #000000;
    background: #FFFFFF;
    border-radius: 14px;
    padding: 11px 20px;
}
header .wrapper ul li:first-of-type a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF;
    margin-right: 24px;
}

/*-----------------------studios-------------------*/

.studios {
    min-height: 716px;
    padding-bottom: 71px;
    background-image: url("../img/aperture_studios_back.jpg");
    background-size: cover;
    position: relative;
    justify-content: center;
    align-items: flex-end;
}
.studios .description {
    max-width: 580px;
}
.studios .description h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
}
.studios .description h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 59px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 18px;
}
.studios .description p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #C0C0C0;
}

.studios nav ul li {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    list-style: none;
    margin-left: 16px;
}

.studios nav {
    position: absolute;
    right: 40px;
    bottom: 41px;
}
.studios nav ul:first-of-type li:before {
}



